@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}


/* ...............
      Banner Area 
      ...................*/
.main{
        background-color: #2D25A0;
        margin-top: 0;
        padding: 0;
 }
.banner{
    display: flex;    
}
.half{
    width: 50%;
}
.title{
    margin-top: 180px;
    margin-left: 156px;
    color: white;
}
.title-1{
    font-size: 50px; 
}
a{
    text-decoration: none;
    color:#fff;
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 173px;
    height: 44px; 
}
.image img{
    width: 477px;
    margin-top: 153px;
    margin-bottom: 84px;
    transition: transform 3s;
}
.image img:hover{
    transform: scale(1.3);
}
a:hover{
    font-size: 20px;
    transition: font-size 3s ;
    background-image: linear-gradient(#7F00FF,#E100FF);
}

/* .............
   Players Section
   ................... */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding: 50px 100px;
}
.player{
    width: 330px;
    height: 474px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player-image img{
    width: 100%;
}
.player-intro h2{
    font-size: 28px;
    color: #18191F;
    margin-bottom: 5px;
}
.player-intro p{
    color: #6C6C6C;
    margin-top: 0;
}

/* .................
Match section
................... */

.match{
    display: flex;
}
.match-blog{
    padding: 150px 0 0 182px;
}
.match-title{
    font-size: 48px;
    margin:0;
}
.match-blog p{
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 10px;
}
.match-image img{
    width: 567px;
    height: 427px;
    padding: 70px ;
}
/*...................
    FiFa InFormation
    .................... */
    
.fifa-section h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: tomato;
}
.fifa-section h1:hover{
    color: tomato;
 }
    
.photo-album{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}
.photo-frame{
 width: 300px;
 height: 200px;
 border-radius: 10px;
 position: relative;
margin: 20px;
overflow: hidden;

}
    .photo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
        
}
.photo-details{
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
    text-align: center;
}
.photo-details p{
    font-size: 12px;
}
.photo-frame:hover .photo-details{
  display: block;
  background-color: rgba(247, 228, 182, 0.6);
}
.photo-frame:hover .photo{
    transform: scale(1.5);
    transition: transform 5s;
    }
/* Champion Section */

.history-heading{
    text-align: center;
}

.history-heading img{
    width: 10%;
}

.history-heading h1{
    font-size: 35px;
}

.champions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 100px;
}

.champion{
    width: 330px;
    height: 474px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.champion img{
    width: 100%;
}

.champion h1{
    margin-bottom: 0;
}

.champion h2{
    color: tomato;
    margin-top: 0;
}

.champion p{
    color:#6C6C6C ;
}

/* ..................
Footer Section
.................. */
.footer-section{
    text-align: center;
    margin-top: 50px;
}
.logo img{
    width: 483.87px;
    height: 110px;  
}
.icon i{
    background: #969bab63;
    color: #969BAB;
    padding: 8px;
    border-radius: 50%;
    margin-right: 12px;
}

/*................
   Responsive For Mobile device
   ............................... */
@media only screen and (max-width: 668px) {
    .banner{
        flex-direction: column;
    }
    .title{
        margin: 0 100px;
    }

    .half{
        width: 50%;
    }

    .image img{
        width: 100%;
        margin: 50px 100px;
    }

    .players{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 0 15px;
    }

    .match{
        flex-direction: column;
    }

    .match-image img{
        width: 100%;
        padding: 0 0 0 5px;
    }

    .match-blog{
        padding: 30px;
    }

    .photo-album{
        margin-left: 20px;
    }

    .champions{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 0 0 20px;
    }

    .logo img{
        width: 100%;
    }
}

/* .......................
     Responsive For iPad
     ...................... */

@media only screen and (min-width:668px) and (max-width: 992px) {
    .banner{
        flex-direction: column;
    }
    .title{
        margin: 0 100px;
    }

    .half{
        width: 50%;
    }

    .image img{
        width: 100%;
        margin: 50px 100px;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0 0 15px;
    }

    .match{
        flex-direction: column;
    }

    .match-image img{
        width: 100%;
        padding: 0 0 0 5px;
    }

    .match-blog{
        padding: 30px;
    }

    .photo-album{
        margin-left: 20px;
    }

    .champions{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0 0 20px;
    }

    .logo img{
        width: 100%;
    }
}